<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="nav-spacer"></span>
    <!-- <mat-icon>favorite</mat-icon>
    <mat-icon>delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>
<p>center: {{ center.lat }}, {{ center.lng }}</p>
<p *ngFor="let m of markers">
  {{ m.label === 'P' ? 'Peakers: ' + m.lat + ', ' + m.lng : null }}
  {{ m.label === 'M' ? 'Peakers: ' + m.lat + ', ' + m.lng : null }}
</p>
<p>Distance: {{ distance }}</p>
<agm-map [latitude]="center.lat" [longitude]="center.lng" [zoom]="zoom">
  <agm-marker
    *ngFor="let marker of markers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [label]="marker?.label"
  ></agm-marker>
</agm-map>
