<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      {{ title }}
    </span>
    <span class="nav-spacer"></span>
    <span>Mustafa Ishaq</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="addresses">
  <mat-card *ngFor="let m of markers">
    <p>
      <strong>{{ m.label === 'P' ? 'Peakers.ai' : 'Moose' }} Location</strong>
    </p>
    <p>
      <small>Street Address:</small>
      <br />
      <br />
      <input [(ngModel)]="m.streetAddr" (change)="encode()" />
    </p>
    <p>
      <small>Latitude:</small>
      <br />
      <br />
      <input
        [(ngModel)]="m.lat"
        (keyup)="findDistance()"
        (change)="reverseEncode()"
      />
    </p>
    <p>
      <small>Longitude:</small>
      <br />
      <br />
      <input [(ngModel)]="m.lng" (keyup)="findDistance()" />
      <br />
    </p>
  </mat-card>
</div>
<mat-card>
  <p>
    <strong>{{ distance?.distance | number: '1.2-2' }} </strong>
    <strong>{{ ' ' + distance?.unit }}</strong> to
    <strong>{{ markers[1].streetAddr }}</strong> from
    <strong>{{ markers[0].streetAddr }}</strong>
  </p>
  <agm-map
    [latitude]="center.lat"
    [longitude]="center.lng"
    [zoom]="zoom"
    [scrollwheel]="null"
  >
    <agm-marker
      *ngFor="let m of markers"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m?.label"
    >
      <agm-info-window [disableAutoPan]="true">
        {{ m.balloon }}
      </agm-info-window>
    </agm-marker>
  </agm-map>
</mat-card>
